*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* Header section */
.top-container{
    height: 677px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.top-details{
    width: 485px;
    height: 230px;
    margin-right: 102px;
}
.top-info{
    margin-bottom: 27px;
}
.top-info h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #fff;
}
.top-button a{
    color: #fff;
    width: 168px;
    height: 44px;
    text-decoration: none;
    padding: 10px 24px;
    background-color: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.extra-margin{
    margin-left: 10px;
    text-align: center;
}
.top-banner{
    margin-top: 49px;
}
.top-banner img{
    width: 556.01px;
    height: 438px;
}
/* Header section end */
main{
    margin-left: 180px;
    margin-right: 210px;
}
.players-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.players{
    width: 330px;
    height: 455px;
    padding: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
    width: 330px;
    height: 256px;
}
.player-details{
    width: 300px;
    height: 154px;
    margin-top: 16px;
}
.player-details h2{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 26px;
}
.player-details p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
