*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* Top section Start*/
.top-container{
    width: 100%;
    height: 677px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.top-details{
    width: 485px;
    height: 230px;
    margin-right: 102px;
}
.top-info{
    margin-bottom: 27px;
}
.top-info h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #fff;
}
.button a{
    width: 120px;
    height: 44px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 24px;
    background-color: #E02C6D;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-in-out 1s;
}
.button a:hover{
    box-shadow: inset 168px 0 0 0 #fff;
    cursor: pointer;
    color: #000;
}
.fas{
    padding-left: 8px;
}
.top-banner{
    margin-top: 55px;
}
.top-banner img{
    width: 556.01px;
    height: 438px;
}
/* Top section end */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.players-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.players{
    width: 330px;
    height: 455px;
    padding: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
    width: 330px;
    height: 256px;
}
.player-details{
    width: 300px;
    height: 154px;
    margin-top: 16px;
}
.player-details h2{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
.player-details p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

/* News section */
.latest-news-container{
    margin-top: 40px;
    margin-bottom: 30px;
}
.news-title, .shop-title{
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}
.news-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 26px;
}
.news{
    width: 330px;
    height: 455px;
    padding: 14px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.171);
    cursor: pointer;
    transition: 0.5s;
}
.news:hover .news-thumbnail img{
    transform: scale(1.1);
    transition: 0.5s;
}
.news-thumbnail{
    overflow: hidden;
}
.news-thumbnail img{
    width: 330px;
    height: 256px;
}
.news-info{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}
.news-info h3{
    color: tomato;
    font-size: 20px;
    margin-top: 10px;
}
.news-info h4{
    padding: 5px 0;
    color: rgba(145, 138, 138, 0.39);
}
.news-info p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}
/* News section done */

/* Discount section start */
.discount-section-container{
    margin-top: 40px;
    margin-bottom: 30px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.productlist{
    width: 330px;
    height: 310px;
    padding: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.product-thumbnail img{
    width: 330px;
    height: 200px;
    border-radius: 10px;
}
.discount-details h3{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.discount-details a{
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    color: rgba(255, 0, 0, 0.411);
}

/* Footer section */
footer{
    margin-top: 70px;
}
.logo-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-bottom: 15px;
}
.logo img{
    width: 483px;
    height: 110px;
}
.social-icon{
    margin-bottom: 10px;
}
.rounded-icon i{
    /* width: 20px;
    height: 20px;
    margin: 0 auto; */
    padding: 16px;
    border-radius: 50%;
    background-color: whitesmoke;
}
.fa{
    padding: 10px;
}
.copyright p{
    font-size: 18px;
    line-height: 24px;
    width: 236px;
}

/* Media query */
@media (max-width: 692px) {
    .top-container{
        display: block;
        padding-top: 40px;
        width: 360px;
        height: 600px;
    }
    .top-details{
        width: 278px;
        height: 138px;
        margin-left: 16px;
    }
    .top-info h1{
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
    }
    .top-banner{
        margin-top: 120px;
        margin-left: 16px;
    }
    .top-banner img{
        width: 329px;
        height: 245px;
    }
    .players-container, .news-container, .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .players, .productlist, .news{
        margin: 0 14px;
    }
    .news-container, .product-container{
        grid-row-gap: 27px;
    }
    .logo img{
        width: 95%;
    }
}